In [1]:
#Importing the libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Importing the dataset

In [4]:
dataset=pd.read_csv('Social_Network_Ads.csv')

In [5]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
X=dataset.iloc[:,[2,3]].values

In [7]:
y=dataset.iloc[:,4].values

In [8]:
#Spliting the dataset in training set and test set

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [11]:
#Feature Scaling

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.fit_transform(X_test)

C:\Users\Satish\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [14]:
#Fitting classifier to the Trainig set

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)

In [17]:
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [18]:
#Predicting the set result

In [19]:
y_pred=classifier.predict(X_test)

In [20]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [21]:
#Making the confusion metrics

In [22]:
from sklearn.metrics import confusion_matrix

In [23]:
cm=confusion_matrix(y_test,y_pred)

In [24]:
cm

array([[64,  4],
       [ 3, 29]])